body {
  margin:0px;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:759px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:759px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:2px;
  top:372px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:548px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:48px;
}
#u23 {
  position:absolute;
  left:0px;
  top:231px;
  width:1200px;
  height:548px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:48px;
}
#u24 {
  position:absolute;
  left:70px;
  top:50px;
  width:1060px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:101px;
}
#u27 {
  position:absolute;
  left:0px;
  top:789px;
  width:1200px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#95A5A6;
  line-height:24px;
}
#u28 {
  position:absolute;
  left:2px;
  top:26px;
  width:1196px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:200px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(79, 193, 176, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:0px;
  top:30px;
  width:1200px;
  height:200px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:2px;
  top:62px;
  width:1196px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34 {
  position:absolute;
  left:0px;
  top:188px;
  width:1200px;
  height:48px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:48px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/使用说明/u15_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:300px 30px;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u36 {
  position:absolute;
  left:0px;
  top:218px;
  width:1200px;
  height:12px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:85px;
}
#u38 {
  position:absolute;
  left:442px;
  top:73px;
  width:64px;
  height:85px;
  color:#1E1E1E;
}
#u39 {
  position:absolute;
  left:2px;
  top:34px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
